#home-intro-section {
    display: flex;
    flex-wrap: wrap;
}
#home-intro-pic img {
    border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
    #home-intro-text {
        padding: 0 0 0 2rem;
        flex: 1;
    }
    #home-intro-pic {
        max-width: 300px;
    }
}