.post.insight {
    background-color: lighten($brand-color, 23%);
    padding: 1rem;
    h1 {
        margin-bottom: 0;
    }
    .post-meta {
        margin-left: .25em;
    }
    .post-header {
        img {
            display: none;
        }
    }
    .p-author, .dt-published {
        font-style: italic;
        font-size: 1.2rem;
    }
}
.post-preview {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #282828;
    background-image: linear-gradient(to left , #101010, #372d03);
    padding: 1.5rem;
    border-radius: 5px;
    position: relative;
    .post-meta {
        color:  white;
        font-size: 1.2rem;
    }    
}

.post-list {
    margin-top: 2rem;
}

.post-link {
    color: $brand-color !important;
}

.post-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-intro-text {
    font-size: 1.5em;
    letter-spacing: 1px;
}

@media only screen and (min-width: 1000px) {
    .post-preview {
        max-width: 48.25%;
    }
    .post-list {
        display: flex;
        justify-content: space-between;        
        flex-wrap: wrap;
    }
    .post.insight {
        padding: 6rem 4rem;
        .post-header {
            display: flex;
            img {
                display: block;
                width: 64px;
                margin-right: .5rem;
                border-radius: 3px;
                opacity: .8
            }    
        }
    }
}