.post.insight {
    background-color: lighten($brand-color, 23%);
    padding: 1rem;
    h1 {
        margin-bottom: 0;
        font-size: 40px;
    }
    .post-meta {
        margin-left: .25em;
    }
    .post-header {
        img {
            display: none;
        }
    }
    .p-author, .dt-published {
        font-style: italic;
        font-size: 1.2rem;
    }
    .post-content h2 {
        margin-top: 1em;
        font-size: 2rem;
    }    
}

.post_thumb_img {
    margin: 0 auto 1rem;
    width: 100%;
    display: block;
    border-radius: 5px;
    @media only screen and (min-width: 1000px) {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); 
        transition: filter .4s ease;
    }
}

.post-preview {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #282828;
    background-image: linear-gradient(to left , #101010, #372d03);
    padding: 1.5rem;
    border-radius: 5px;
    position: relative;
    .post-meta {
        color:  white;
        font-size: 1.2rem;
    }    
    &:hover, &.first-post-preview {
        img {
            filter: none;   
        }
    }
}

.post-list {
    margin-top: 2rem;
}

.post-link {
    color: $brand-color !important;
    line-height: 1.1;
}

.post-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-intro-text {
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 0.95;
}

#post-intro-img {
    position: relative;
    margin-bottom: 45px;
    cursor: pointer; 
    img {
        border-radius: 5px;
        width: 100%;
        @media only screen and (min-width: 1000px) {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);  
        }
        transition: all 1s ease-out; 
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $brand-color-2;
        opacity: .15;
    }
}

.insight-subsection {
    padding: 1rem;
    font-size: .9em;
    @media only screen and (min-width: 1000px) {
        font-size: 1em;
        padding: 2rem 2rem;
    }
    background-color: lighten($brand-color, 15%);
    border-radius: 5px;
    h3{
        margin-bottom: .25rem;
        &:not(:first-of-type) {
            margin-top: 2rem;
        }
    }
}
.house-highlight {
    background-color: lighten($brand-color, 15%);
    border-radius: 5px;    
    margin-top: 1rem;
    h2 {
        margin-top: 0 !important;
    }
    p {
        margin-bottom: 0;
    }
    padding: 1.5em;
}

@media only screen and (min-width: 1000px) {
    .post-preview {
        width: 48.25%;
    }
    .post-list {
        display: flex;
        justify-content: space-between;        
        flex-wrap: wrap;
    }
    .post.insight {
        padding: 6rem 4rem;
        .post-header {
            display: flex;
            > div:first-of-type {
                min-width: 72px !important;
            }            
            img {
                display: block;
                width: 64px;
                margin-right: .5rem;
                border-radius: 3px;
                opacity: .8
            }    
        }
    }
}